/* 全局 */
html {
    height: 100%;
}

body {
    height: 100%;
}

/* 登录页 */
.login-container {
    height: 100%;
    background-image: linear-gradient(to right,#fbc2eb,#a6c1ee);
}

.login-title {
    font-size:  50px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: 15%;
}

.login-wrapper {
    background-color: #fff;
    width: 500px;
    height: 450px;
    padding: 0 50px;
    position: relative;
    left: 50%;
    border-radius: 15px;
    top:45%;
    transform: translate(-50%,-50%);
}
.login-wrapper .header {
    font-size:  30px;
    font-weight: bold;
    text-align: center;
    line-height: 160px;
}

.login-wrapper .form-wrapper .input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid rgb(128,125,125);
    font-size: 15px;
    outline: none;
}

.login-wrapper .form-wrapper .input-item::placeholder {
    text-transform: uppercase;
}

.login-wrapper .form-wrapper .btn {
    width: 130px;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    background-image: linear-gradient(to right,#fbc2eb,#a6c1ee);;
    color: #fff;
}

.login-wrapper  .msg {
    text-align: center;
    line-height: 80px;
    color: #af164e;
}

.login-wrapper  .msg a  {
    text-decoration-line:  none;
    color: #a6c1ee;
}
